<?xml version="1.0"?>
<config>
	<modules>
		<studioone_arca3d>
			<version>2.0.0</version>
		</studioone_arca3d>
	</modules>
	<admin>
		<routers>
			<arca3d>
				<use>admin</use>
				<args>
					<module>Studioone_ArCa3d</module>
					<frontName>arca3d</frontName>
				</args>
			</arca3d>
		</routers>
	</admin>
	<global>
		<blocks>
			<arca3d>
				<class>Studioone_ArCa3d_Block</class>
			</arca3d>
		</blocks>
		<events>
			<!-- <sales_order_place_before>
				<observers>
					<studioone_arca3d_model_observer>
						<type>singleton</type>
						<class>Studioone_ArCa3d_Model_Observer</class>
						<method>hookOrderSave</method>
					</studioone_arca3d_model_observer>					
				</observers>
			</sales_order_place_before>
			-->
			<sales_order_place_after>
				<observers>
					<studioone_arca3d_model_observer>
						<type>singleton</type>
						<class>Studioone_ArCa3d_Model_Observer</class>
						<method>sales_order_place_after</method>
					</studioone_arca3d_model_observer>					
				</observers>
			</sales_order_place_after> 
			<payment_method_is_active>
				<observers>
					<arca3d_payment_method_is_developer>
						<type>singleton</type>
						<class>Studioone_ArCa3d_Model_Observer</class>
						<method>isDeveloper</method>
					</arca3d_payment_method_is_developer>
					<arca3d_payment_method_is_ArCa3d_only>
						<type>singleton</type>
						<class>Studioone_ArCa3d_Model_Observer</class>
						<method>isarca3dOnly</method>
					</arca3d_payment_method_is_ArCa3d_only>
				</observers>
			</payment_method_is_active>
		</events>
		<helpers>
			<arca3d>
				<class>Studioone_ArCa3d_Helper</class>
			</arca3d>
		</helpers>
		<models>
			<arca3d>
				<class>Studioone_ArCa3d_Model</class>
				<resourceModel>arca3d_resource</resourceModel>
			</arca3d>
			<arca3d_resource>
				<class>Studioone_ArCa3d_Model_Resource</class>
				<entities>
					<transactions>
						<table>arca3d_transactions</table>
					</transactions>
					<transactions_log>
						<table>arca3d_transactions_log</table>
					</transactions_log>

				</entities>
			</arca3d_resource>
		</models>
		<resources>
			<arca3d_setup>

				<setup>
					<module>Studioone_ArCa3d</module>
				</setup>
				<connection>

					<use>core_setup</use>
				</connection>
			</arca3d_setup>
			<arca3d_write>
				<connection>
					<use>core_write</use>
				</connection>
			</arca3d_write>
			<arca3d_read>
				<connection>
					<use>core_read</use>
				</connection>
			</arca3d_read>
		</resources>
	</global>
	<frontend>
		<secure_url>
			<arca3d>/arca3d/processing</arca3d>
			<arca3d>/arca3d/processing/result</arca3d>
		</secure_url>
		<routers>
			<arca3d>
				<use>standard</use>
				<args>
					<module>Studioone_ArCa3d</module>
					<frontName>arca3d</frontName>
				</args>
			</arca3d>

		</routers>
		<layout>
			<updates>
				<arca3d>
					<file>arca3d.xml</file>
				</arca3d>
			</updates>
		</layout>
		<!-- <events>
			<checkout_submit_all_after>
				<observers>
					<sales_save_order_after_submit>
						<class>arca3d/observer</class>
						<method>hookOrderSave</method>
					</sales_save_order_after_submit>
				</observers>
			</checkout_submit_all_after>
			<controller_action_postdispatch_checkout_onepage_saveOrder>
				<observers>
					<sales_save_order_onepage>
						<class>arca3d/observer</class>
						<method>hookOrderSave</method>
					</sales_save_order_onepage>
				</observers>
			</controller_action_postdispatch_checkout_onepage_saveOrder>
		</events> -->
	</frontend>
	<adminhtml>
		<layout>
			<updates>
				<arca3d>
					<file>arca3d.xml</file>
				</arca3d>
			</updates>
		</layout>
	</adminhtml>
	<default>
		<payment>
			<arca3d>
				<active>0</active>
				<model>arca3d/payment</model>
				<title>Arca Payment</title>
				<allowspecific>0</allowspecific>
			</arca3d>
		</payment>
	</default>
</config>